@charset "UTF-8";

*{
   margin: 0em;
   padding: 0em;
}

body{
	background-color: #E8E8E8;
}
header{
	position: fixed;
	width: 75em;
	height: 5em;
	background-color: #fff;
	margin: 0;
}
#name:hover{
	color:#FF7700;
}
#name{
	font-family: 'Source Sans Pro', sans-serif;
	text-align: left center;
	color: #000000;
	font-size: 3em;
	float: left;
	margin: 0.25em 0 0 1em;
}
#mainp{
	font-family:'Open Sans', sans-serif;
	color: #000000;
	font-size: 1.5em;
	text-align: center;
}
#main{
	background-color:#fff;
	padding:2em;
}
#wrapper{
	background-color: #FFFFFF;
	max-width: 75em;
	margin: 0 auto;
}
#main-image{
	width:75em;
	height:45em;
}
#footer{
	margin: auto;
	align:center;
	width:75em;
}
footer{
	display:block;
	align:center;
}
th, td{
	padding: 15px;
	text-align: center;
}