@charset "UTF-8";
/* CSS Document */
#wrapper{
	width: 1020px;
	background-color: #858585;
	margin:10px auto;
	}
body{
	background-color:#000;
}
#main{
	padding:5px 10px 10px 15px;
	width: 72%;
	float: left;
	background-color: #FFFFFF;
	margin: 2px 3px 20px 5px;
}
#sidebar{
	width: 22%;
	float: right;
	background-color: #858585;
	padding:0px 10px 5px 10px;
	margin: 2px 7px 2px 0px;
}
footer{
	clear: both;
	background-color: #0034FF;
	text-align:center;
	padding:10px 10px 10px 10px;
	margin-top:5px;
	}
#footerlink{
	color:#FFFFFF;
	text-decoration:none;
}
header{
	background-color:#E0E0E0;
}
#title{
	color: #353535;
	padding: 10px 5px 0px 10px;
	margin: 5px 5px 5px 5px;
}
#topnav{
	padding: 10px 5px 10px 10px;
	margin: 3px 3px 3px 3px;
}
#sidebar1{
	background-color: #fff;
	padding:3px 10px 3px 10px;
	margin: 0;
	text-align:center;
}
#sidebar2{
	background-color: #fff;
	padding:5px 10px 5px 10px;
	margin: 30px 0px 0px 0px;
	
}
