@charset "UTF-8";
/* CSS Document */
#wrapper{
	width: 1020px;
	background-color: #858585;
	margin:10px auto;
	padding: 2px 2px 2px 2px;
	}
body{
	background-color:#fff;
}
#main{
	padding:5px 5px 10px 5px;
	width: 72%;
	float: left;
	background-color: #FFFFFF;
	margin: 2px 5px 5px 5px;
}
#sidebar{
	width: 25%;
	float: right;
	padding:0px 0px 0px 0px;
	margin: 2px 5px 2px 5px;
}
footer{
	clear: both;
	background-color: #0034FF;
	text-align:center;
	padding:10px 10px 10px 10px;
	margin:5px 5px 5px 5px;
	}
#footerlink{
	color:#FFFFFF;
	text-decoration:none;
}
header{
	background-color:#fff;
	padding: 2px 2px 2px 2px;
	margin: 3px 5px 3px 5px;
}
#title{
	color: #353535;
	padding: 10px 5px 0px 10px;
	margin: 5px 5px 5px 5px;
}
#topnav{
	padding: 10px 5px 10px 10px;
	margin: 3px 3px 3px 3px;
}
#sidebar1{
	background-color: #fff;
	padding:3px 10px 3px 10px;
	margin: 0;
	text-align:center;
}
#sidebar2{
	background-color: #fff;
	padding:3px 10px 3px 10px;
	margin: 90px 0px 0px 0px;
	
}
